.Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  // backgroundColor: theme.palette.background.paper,
  .grid {
    .icon {
      color: rgba(255, 255, 255, 0.54);
    }
  }

  .add-btn {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
}
